﻿.fstdiv {
    position: relative;
    min-height: 34px;
    width: 100%;
    width: -moz-available;         
    width: -webkit-fill-available;  
    width: fill-available;
}
.fstdiv.open {
    z-index: 2147483647
}
.fstdropdown {
    vertical-align: middle;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    background: white;
    overflow: hidden;
    width: inherit
}
    .fstdiv.open > .fstdropdown{
        position: absolute;
    }

    .fstdropdown > .fstselected {
        line-height: 1.42857143;
        padding: 6px 24px 6px 12px;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        color: #555;
        font-size: 14px;
        outline: 0;
        position: relative;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-user-select: none;
    }

        .fstdropdown > .fstselected::after {
            position: absolute;
            top: 50%;
            display: block;
            height: 0;
            margin-top: -3px;
            content: ' ';
            right: 11px;
            border-color: #999 transparent transparent;
            border-style: solid;
            border-width: 4px 4px 0;
        }

    .fstdropdown.open > .fstselected {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom-color: transparent;
    }

        .fstdropdown.open > .fstselected::after {
            margin-top: -3px;
            border-color: transparent transparent #999;
            border-width: 0 4px 4px;
        }

    .fstdropdown > .fstlist {
        display: none;
        max-height: 200px;
        overflow-y: auto;
        overflow-x: hidden
    }

    .fstdropdown > .fstlist div:first-child{
    display: none;
    }

    .fstdropdown.open > .fstlist {
        display: block
    }

.fstlist > div {
    padding: 6px 12px;
    user-select: none;
    -webkit-user-select: none;
    border-bottom: 1px solid #f5f5f5;
}

.fstdropdown.open:hover {
    border-color: #66afe9;
    overflow-x: hidden;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    -o-transition: border-color ease-in-out .1s,box-shadow ease-in-out .1s;
    -webkit-transition: border-color ease-in-out .1s,-webkit-box-shadow ease-in-out .1s;
    transition: border-color ease-in-out .1s,-webkit-box-shadow ease-in-out .1s;
    transition: border-color ease-in-out .1s,box-shadow ease-in-out .1s;
    transition: border-color ease-in-out .1s,box-shadow ease-in-out .1s,-webkit-box-shadow ease-in-out .1s;
}

.fstlist > div:hover {
    background-color: #337ab7;
    color: #fff;
}

.fstlist > div.selected {
    background-color: #cdcdcd;
    color: #262626;
}

.fstsearchinput {
    padding: 4px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    background-color: #fff;
    border: 1px solid #ccc;
    color: #555;
    font-size: 14px;
    display: none;
}

.fstdropdown.open > .fstsearch {
    display: block;
    padding: 4px;
}

.fstdropdown.open .fstsearchinput {
    display: block;
}

.fstdropdown .hideFst, .fstdropdown-select.fstcreated {
    display: none;
}

.fstAll {
    width: 100%;
    position: relative;
    background-color: #0090ff;
    color: #fff;
    border: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    height: 30px;
    display: none;
}

    .fstAll:hover {
        background-color: #337ab7
    }

.open .fstAll {
    display: block;
}
